*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# natives
native/

#logs
*.log

#backups and vim swaps
*.~
*.swp

#temp building directory for lwjgl3
temp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
